.my-container{
    max-width: 70%;
    margin: auto;
    height: 100%;
    padding: 50px;
}
.my-bg-dark{
    background-color: #2B3A46;
}

.my-card-container{
    height: 280px;
}
.dimensione-img{
    width: 150px;
    height: 150px;
}

h5{
    font-size: 1rem;
}
.small-text{
    font-size: .8rem;
    color: lightgray;
}

header{
    height: 70px;
    background-color: #2B3A46;
}